@media (max-width: 1400px){
.home-one-featured-area h1 {
    font-size: 58px;
    font-weight: 600;
    margin-bottom: 20px;
}}

.desc{
    font-weight: 700;
    margin-bottom: 10px;
}

@media (max-width: 600px){
    .home-one-featured-area h1 {
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .navbar-links {
        list-style-type: none;
        display: flex;
        display: none;
    }
    .desc{
        font-weight: 400;
        margin-bottom: 10px;
    }
    
}

.newsletter form input[type="text"] {
    width: 65%;
    height: 60px;
    padding-left: 30px;
    border: 3px solid #464646;
    outline: none;
    color: #ddd;
    background-color: transparent;
    border-radius: 40px;
    padding-right: -67px;
}

.navbar {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: end;
}


.card1 {
    display: inline-block;
    width: 25%;
    padding: 18px;
    box-sizing: border-box;
    text-align: center;
    border: 1.2px solid #ccc;
    border-radius: 15px;
    margin: 10px;
    color:white;
    transition: all 0.3s ease;

}
.card1:hover {
    background-color: #348d015b;
    transform: scale(1.05);
}

.card1 p {
    color:white;
}

.sec-btn {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff !important;
    height: 60px;
    background: rgb(0 206 125);
    background: linear-gradient(90deg, #368E00 0%, #006553 100%);
    -moz-box-shadow: 5px 5px 30px 0px rgba(195,120,251,0.35);
    display: inline-block;
    overflow: hidden;
    padding: 18px 50px;
    border-radius: 30px;
    position: relative;
    z-index: 1;
    letter-spacing: 0.5px;
    transition: all 0.2s cubic-bezier(0.98, 0.57, 1, 1) 0s;
    font-weight: 700;
}

.card2 {
    width: 22%;
    background:#EEEEEE;
    border: 2px solid #ccc;
    padding: 15px;
    margin: 8px;
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;

}
.card2:hover {
    background-color: #DCFFC7;
    transform: scale(1.05);
    border: 2px solid #3EA300;
    

}

.card-icon img{
    margin-bottom: 15px;
    margin-right: 188px;
    width:50px;


}

.card-heading {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: left;
}

.card-price {
    font-size: 16px;
    font-weight: bold;
    text-align: left;

}

.card-rating {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 16px;
    color: #ffc107;
}

@media only screen and (max-width: 768px) {
    .card2 {
      width: 46%;
    }
  }

  @media only screen and (max-width: 480px) {
    .card2 {
        width: 44%;
    }
  }

  @media (max-width: 1400px){
.about-unique .services-style-one {
    padding: 10px;
    margin: 19px;
    border-radius:10px;
}
  }


  .services-style-one-img svg {
    width: 69px;
    z-index: 11111111;
    position: relative;
    margin-top: 20px;
}

.about-unique .services-style-one:hover {
    border: 1px solid #3EA300;
    
}

.logofont {
    color: white;
    font-weight: 600;
    font-size: 35px;
}

@media screen and (max-width: 768px) {
    .logofont {
        color: white;
        font-weight: 600;
        font-size: 27px;
    }

}

.owl-dots {
    display: none;

}

.card1 {
    display: inline-block;
}

@media screen and (max-width: 768px) {
    .card1 {
        display: none;
    }

}

.card-container4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    justify-content: center;

}

.card4 {
    position: relative;
    width: 330px;
    height: 400px;
    overflow: hidden;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card4:hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card4:hover .card-image {
    filter: blur(0);
}


.card-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    transition: transform 0.3s;

}

.card-image:hover{
    transform: scale(1.1);

}

.card-content {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: white;
}

.card-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    color: white;

}

.card-subtitle {
    font-size: 16px;
    color: white;

}

.card-desc {
    padding: 12px;
    padding-right: 140px;
    border-radius: 10px;
    background-color: #000000b0;

}

@media screen and (max-width: 768px) {
    .card-container4 {
        flex-wrap: wrap;
    }

    .card4 {
        width: calc(100% - 20px);
    }

    .text2 {
        font-weight: 600;
        color: black;
        font-size: 15px;
    }
}


.card5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.377);
    border-radius: 9px;
}

.left-column {
    flex-basis: 50%;
    text-align: left;
}

.right-column {
    flex-basis: 50%;
    text-align: right;
}

.text2 {
    font-weight: 600;
    color: black;
    font-size: 18px;
}

@media screen and (max-width: 768px) {

    .text2 {
        font-weight: 600;
        color: black;
        font-size: 15px;
    }
}

.loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    text-align: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../images/shape/dot-grid.png);
}


.s1 {
    margin-top: -104px;
}

@media screen and (max-width: 768px) {
    .s1 {
        margin-top: 0;
    }
}


.card6 {
    background-color: rgb(252, 252, 252);
    border: 4px dotted rgb(94, 94, 94);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
}

.row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.column2 {
    flex: 1;
}

/* Responsive Styles */
@media screen and (max-width: 480px) {
    .card6 {
        max-width: 100%;
    }
}

.blog-style {
    border: 1px solid #00d794;
    padding: 84px 40px 40px;
    position: relative;
    background-color: white;
    border-radius: 44px;
    margin-top: 57px;
}

.column {
    flex: 1 1 50%;
    /* This will split the columns evenly */
    padding: 10px;
}

.image2 {
    flex: 1;
}

.image2 img {
    height: auto;
    width: 1371px;
    margin-left: -126px;
}

@media (max-width: 767px) {
    .column {
        flex-basis: 100%;
        /* On smaller screens, make the columns take up the full width */
    }

    .image2 img {
        display: none;
    }
}

.about-comp {
    width: 434px;
    margin-left: 782px;
    margin-top: -265px;
}

@media screen and (max-width: 768px) {
    .about-comp {
        display: none;
    }
}

@media (max-width: 576px){
.zoom-slider .owl-nav, .shape-style:before {
    display: flex;
}}