body.light-d,body.light-d .planning-make i,body.light-d .clients-logo,body.light-d .section-portfolio,
body.light-d .services-style-two-data,body.light-d .category .category-info,body.light-d .hire,
body.light-d .custom2 .owl-nav i,body.light-d .navbar-links li.navbar-dropdown .dropdown,
body.light-d .blog-post-data,body.light-d .gap,body.light-d .portfolio-page-img,body.light-d .services-three .services-style-one,
body.light-d .blog-style-three-data .blog-post-data ul,body.light-d .map,body.light-d .location-data,
body.light-d .portfolio-resposive-for,body.light-d footer.three,body.light-d .planning-make.about-make{
    background-color: #000 !important;
}
body.light-d header.header-styletwo .navbar-links li > a,body.light-d .willimes-marko p,body.light-d .client-detail span,
body.light-d p.footer,body.light-d .newsletter p,body.light-d .hero-section p,body.light-d .our-skills .progress-bar__skill--1.js-animated,
body.light-d ul.categories li a,body.light-d ul.ks-cboxtags li label,body.light-d .we-provide .title,
body.light-d .start-footer ul li a,body.light-d .start-footer p.footer,body.light-d header.header-style-three.fore .hamburger-icon a ,
body.light-d .clients .owl-nav button i,body.light-d .digital-marketing a:hover,body.light-d .tile .content,
body.light-d a,body.light-d .heading h2,body.light-d .play p,body.light-d .years-experience h6,
body.light-d .nav-pills .nav-link,body.light-d .cls-left ul li a,body.light-d .navbar-links li.navbar-dropdown .dropdown a,
body.light-d h1, body.light-d h2, body.light-d h3, body.light-d h4, body.light-d h5, body.light-d h6,
body.light-d .team-slider .owl-nav button.owl-prev i,body.light-d .services-style-two ul li a,
body.light-d .team-slider .owl-nav button.owl-next i,body.light-d .style-design span a,body.light-d .count-time p,
body.light-d .photo .owl-nav button.owl-next i,body.light-d .our-skills .progress-bar__value--1.js-animated,
body.light-d .photo .owl-nav button.owl-prev i,body.light-d .colin-clickson .social-media li a i {
    color: white;
}
body.light-d .services-style-one-img:before {
    background-color: #4b4b4b;
    z-index: 1;
}
body.light-d p,body.light-d ul.features li,body.light-d .blog-style-two.blog-three p,
body.light-d ul.quick-links li a,body.light-d .client-help span,
body.light-d form.content-form textarea,body.light-d form.content-form input,
body.light-d form.content-form textarea::placeholder,body.light-d form.content-form input::placeholder{
   color: #999 ;
}
body.light-d .services-style-one-img svg,
body.light-d .planning-make svg,
body.light-d header.header-style-three.fore .hamburger-icon svg {
    fill: white;
}
body.light-d .blog-style-two h2 {
    border: 11px solid #222;
}
body.light-d .blog-style-three-data h2{
    border: 11px solid #000;
}
body.light-d .comment li a,body.light-d .team-slider-threuue .owl-item.active.center .item,
body.light-d ul.ks-cboxtags li label,body.light-d .custom2.owl-theme .owl-dots .owl-dot span,
body.light-d .category-info > a,body.light-d .top-bar-header,body.light-d .comment li,
body.light-d ul.client-data li,body.light-d .blog-style-two-data,body.light-d ul.categories li a,
body.light-d .hero-section-two,body.light-d .team-slider-threuue .colin-clickson.team-sttle-two{
    background-color: #222;
}
body.light-d ul.categories li:hover a span{
    background-color: white;
}
body.light-d .team-flex,body.light-d .blog-style,body.light-d ul.categories li a span,
body.light-d .pricing-plan-one.text-style ul li,
body.light-d .pricing-plan-one li,body.light-d ul.logos li,
body.light-d .pricing-Plans-style-one,body.light-d .white_content,
body.light-d form.leave input{
    background-color: black;
}
body.light-d .what-we-provide{
    border-bottom: 1px solid #333;
}
body.light-d .what-we-provide.end {
    margin: 0;
    padding: 0;
    border: 0;
}
body.light-d li.reply-comment,
body.light-d form.content-form input[type="text"] {
    background-color: transparent;
}
body.light-d .pricing-plan-style:before,
body.light-d .pricing-Plans:before{
    background-color: #212121;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100%;
}
body.light-d .pricing-plan-style:before{
    background-color: #000;
}
body.light-d form.content-form textarea,body.light-d form.content-form input,body.light-d .nav-pills .nav-link,
body.light-d .planning-make.about-make,form.leave textarea,body.light-d .blog-style,body.light-d .location-data,
body.light-d .pricing-plan-one li,body.light-d form.leave input,body.light-d ul.logos li,
body.light-d ul.pagination li,body.light-d li.reply-comment,body.light-d .clients .owl-nav button i,
body.light-d .tags-cloud a,body.light-d .share-post,body.light-d .photo-preview::before,
body.light-d .planning-make i,body.light-d .team-flex,body.light-d .category-info,body.light-d .about-unique .services-style-one {
    border: 1px solid #333;
}
body.light-d .awwards {
    border-right: 1px solid #333;
}
body.light-d .pricing-plan-one.text-style ul li:not(:last-child){
        border-bottom: 1px solid #333;
}
body.light-d .style-design a,body.light-d .digital-marketing a,body.light-d .blog-post-img a{
    color: black;
}
body.light-d .blog-post-img a:hover{
    color: white;
}
body.light-d .sidebar,
body.light-d .our-expertise li {
    border: 1px solid #333;
}
body.light-d .client-detail li{
    border-bottom: 1px solid #333;
}
body.light-d .client-detail li.end{
    border: 0;
}
body.light-d .start-footer span a {
    border-bottom: 3px solid #fff;
}
body.light-d .start-footer .information-data a {
    color: #fff;
    border-bottom: 1px solid #fff;
}
body.light-d .blog-post-data ul {
    border: 1px solid #333;
    border-left: 0;
    border-right: 0;
}
body.light-d ul.Meta li a {
    border-bottom: 1px solid #333;
    color: #999;
}
body.light-d .services-three{
    background-color: #222 !important;
}
body.light-d figure.effect-duke p{
    position: relative;
    z-index: 1;
}
body.light-d .create-impactful .play-button {
    background-image: linear-gradient(90deg, #222, #222);
}
body.light-d .sec-btn:hover {
    color: black !important;
}
body.light-d .custom2.owl-theme .owl-dots .owl-dot.active span{
        background: #00ce7d;
}
body.light-d .sec-btn::before{
        background-color: white;
    }
body.light-d .row.gap.no-bottom,body.light-d .row.gap {
    background-color: #5f9ea000 !important;
}
body.light-d #overlay, {
    background-color: #000000d4;
}
body.light-d .cls-left ul li a:before{
        background-color: white;
}
body.light-d .section-recent-articles{
    background-image: none !important;
}
body.light-d header.header-style-three.fore .bar-menu svg,
body.light-d header.header-styletwo .bar-menu svg{
    fill: white;
}
body.light-d .blog-style-two.blog-three p{
    color: #fff !important;
}
body.light-d form.leave input,body.light-d form.leave input::placeholder,body.light-d ul.recent-post span,
body.light-d form.leave textarea,body.light-d form.leave textarea::placeholder{
    color: #999;
}
body.light-d ul.Meta li.end a{
    border: 0;
}
body.light-d .planning-make:after,body.light-d .navbar-links li.navbar-dropdown .dropdown a:not(:last-child):before{
    background-color: #333;
}
body.light-d a.logo-black{
    display: none;
}
body.light-d .end-bar a.logo-white{
    display: block !important;
}
body.light-d .featured-area-for-data {
    border-bottom: 1px solid #333;
}
body.light-d .colin-clickson {
    border-right: 1px solid #333;
}
body.light-d .blog-post-data {
    border: 1px solid #333;
}
body.light-d .navbar-links li.navbar-dropdown .dropdown {
    box-shadow: 0px 10px 10px 3px hsl(0deg 0% 100% / 16%);
}
body.light-d #overlay {
    background-color: #000000d4;
}